<a href="https://colab.research.google.com/github/Jayadeep-A-2025/student_performancedashboard/blob/main/Project01(cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/student_data.csv')
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
df.columns

Index(['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'TestPrep',
       'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings',
       'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore',
       'WritingScore'],
      dtype='object')

In [ ]:
d={'Gender':'Gender', 'EthnicGroup':'Group', 'ParentEduc':'ParentED', 'LunchType':'LunchType', 'TestPrep':'TestPrep',
       'ParentMaritalStatus':'ParentsMaritalStatus', 'PracticeSport':'PracticeSport', 'IsFirstChild':'IsFirstChild', 'NrSiblings':'NoOfSibilings',
       'TransportMeans':'Transport', 'WklyStudyHours':'Studyhours/week', 'MathScore':'MathScore', 'ReadingScore':'ReadingScore',
       'WritingScore':'WritingScore'}
df.rename(columns=d,inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['NoOfSibilings']=df['NoOfSibilings'].fillna(0.0)

In [ ]:
df['ParentED']=df['ParentED'].fillna('Non-Disclosed')

In [ ]:
df['TestPrep']=df['TestPrep'].fillna('not-mentioned')

In [ ]:
df['ParentsMaritalStatus']=df['ParentsMaritalStatus'].fillna('Non-Disclosed')

In [ ]:
df['IsFirstChild']=df['IsFirstChild'].fillna('Non-Disclosed')

In [ ]:
df['Transport']=df['Transport'].fillna('yet to assign')

In [ ]:
df['Studyhours/week']=df['Studyhours/week'].fillna('Non-Disclosed')

In [ ]:
df['Group']=df['Group'].fillna('To be Assigned')

In [ ]:
df['PracticeSport']=df['PracticeSport'].fillna('Not-Disclosed')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                30641 non-null  object
 1   Group                 30641 non-null  object
 2   ParentED              30641 non-null  object
 3   LunchType             30641 non-null  object
 4   TestPrep              30641 non-null  object
 5   ParentsMaritalStatus  30641 non-null  object
 6   PracticeSport         30641 non-null  object
 7   IsFirstChild          30641 non-null  object
 8   NoOfSibilings         30641 non-null  float64
 9   Transport             30641 non-null  object
 10  Studyhours/week       30641 non-null  object
 11  MathScore             30641 non-null  int64
 12  ReadingScore          30641 non-null  int64
 13  WritingScore          30641 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 3.3+ MB

In [ ]:
df

,Gender,Group,ParentED,LunchType,TestPrep,ParentsMaritalStatus,PracticeSport,IsFirstChild,NoOfSibilings,Transport,Studyhours/week,MathScore,ReadingScore,WritingScore
0,female,To be Assigned,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,not-mentioned,married,sometimes,yes,0.0,yet to assign,5 - 10,69,90,88
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,yet to assign,5 - 10,45,56,42
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,female,To be Assigned,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.to_csv('student_data_cleaned.csv')